USE master
IF EXISTS(SELECT * FROM sysdatabases WHERE name='BDCLINICA')
    begin
	DROP DATABASE BDCLINICA 
	--GO
    end


CREATE DATABASE BDCLINICA 
GO



USE BDCLINICA 
GO




create table tabesp(
code char(3) not null primary key,
nome varchar(25),
costo numeric(6,1)

) 
go
create table Medicos(
codmed char(4) not null primary key,
codes  char(3),
nombre varchar(40),
colegiatura  int) 
go

create table Citas(
nrocita int not null primary key,
codmed  char(4),
nompac  varchar(40),
tipo    int,
pago    numeric(8,1)
) 
go

insert into tabesp values('E01','Otorinolaringologia',80) 
insert into tabesp values('E02','Gatroenterologia',70) 
insert into tabesp values('E03','Medicina general',40) 

insert into Medicos values('M001','E01','ABARCA MENDOZA, BRUCE HAMMER' ,1998) 
insert into Medicos values('M002','E01','ALIAGA VALERO, JUAN CARLOS' ,1999) 
insert into Medicos values('M003','E01','ARENAS AGUIRRE, JENRY' ,2006) 

INSERT INTO CITAS VALUES(10001,'M001','SEDANO MANTILLA, RANDY DANILO',2,50) 
INSERT INTO CITAS VALUES(10002,'M001','SILVERA SIANCAS, ISAAC',3,50) 
INSERT INTO CITAS VALUES(10003,'M001','VASQUEZ FERRE, FRANK JUNIOR',1,30) 



go
select * from citas






 



